.login-wrapper {
    height: calc(100vh - 100px);
    /* 헤더 제외 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    font-size: 36px;
    margin-bottom: 32px;
    font-family: "KeinannPOP"
}

.title-light {
    color: #d08c60;
}

.title-dark {
    color: #4b2e1e;
}

.login-form {
    width: 420px;
    display: flex;
    flex-direction: column;
    color: #464C53;
}

.login-form label {
    font-size: 14px;
    margin-bottom: 6px;
}

.login-form input {
    height: 44px;
    padding: 0 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-form button {
    height: 48px;
    background-color: #5b3418;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.error-text {
    color: #e53935;
    font-size: 13px;
    text-align: center;
}

.login-links {
    margin-top: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.signup-text {
    color: #777;
}

.signup-link {
    color: #5b3418;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.signup-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #5b3418;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.signup-link:hover::after {
    transform: scaleX(1);
}
