.post-summary {
    margin: 0px 0 16px;
    font-size: 11px;
    color: #666;
}

.post-summary strong {
    color: #583218;
}

.content-wrapper {
    padding: 0 55px;
    box-sizing: border-box;
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-bottom: 14px;
}

.pagination-wrapper {
    margin-top: auto;
}