/* ===== MainPage Root ===== */
.main-page {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
}

/* ===== 상단 고정 영역 ===== */
.layout-header {
    margin: 24px 0 20px 80px;
}

/* ===== 카드 1줄 영역 ===== */
.main-page .main-single-row {
    margin-top: 20px;
}

/* 카드 4개 고정 */
.main-page .main-single-row .post-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
}

/* ===== 자동 여백 영역 ===== */
.main-page .main-spacer {
    flex: 1;
}

/* ===== 페이지네이션 ===== */
.main-page .pagination-wrapper {
    margin: 36px 0 24px;
    display: flex;
    justify-content: center;
}

.post-summary {
    font-size: 13px;
    color: var(--text-sub);
    margin-top: 25px;

}
.post-summary strong {
    color: var(--primary);
}
