.mypage-layout {
    display: flex;
    max-width: 100%;
    padding: 32px 0px;
    align-items: flex-start;
}

.mypage-post-card {
    height: 520px;
}

.mypage-own .mypage-sidebar {
    width: 180px;
}

.mypage-sidebar {
    width: 220px;
    margin-left: 45px;
    flex-shrink: 0;

    position: sticky;
    top: 88px;
}

.mypage-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 720px;
    min-width: 0;
    margin: 0 auto;
}

.mypost-comment-preview {
    margin-top: 6px;
    font-size: 0.85rem;
    color: #9b9b9b;
}
