.mypage-frame {
    display: flex;
    height: 100%;
    justify-content: center;
}

/* sidebar는 항상 고정 폭 */
.mypage-sidebar {
    width: 220px;
    flex-shrink: 0;
}

/* 오른쪽 영역 */
.mypage-main {
    flex: 1;
    display: flex;
    justify-content: center;
}
