/* 전체 컨테이너 */
.post-history-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #333;
}

/* 제목 영역 */
.post-history-header {
    text-align: center;
    margin-bottom: 60px;
}

.post-history-header-title {
    font-size: 48px;
    font-weight: 900;
    color: #fb923c;
    margin-bottom: 20px;
}

.post-count-text {
    text-align: left;
    color: #9ca3af;
    font-size: 14px;
    margin-top: 20px;
}

/* 리스트 아이템 */
.post-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post-history-item {
    display: flex;
    gap: 24px;
    padding : 24px;
    cursor: pointer;
    border-bottom: 1px solid #f3f4f6;
}

.post-item:last-child {
    border-bottom: none;
}

/* 썸네일 박스 */

.post-thumbnail-box {
    width: 200px;
    height: 120px;
    flex-shrink: 0;
    background-color: #f3f4f6;
    border-radius: 8px;
    overflow: hidden;
}

.post-thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 텍스트 내용 박스 */
.post-history-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-history-date {
    font-size: 12px;
    color: #9ca3af;
    margin-bottom: 4px;
}

.post-history-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    cursor: pointer;
}

.post-history-title:hover {
    text-decoration: underline;
}

.post-history-summery {
    font-size: 14px;
    color: #4b5563;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}