@font-face {
    font-family: "KeinannPOP";
    src: url("./assets/fonts/KeinannPOP.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #F9F9F8;
    font-family: "KeinannPOP", 'Noto Sans KR', sans-serif; /* 있으면 좋음 */
}
