body,
html,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

/* 공통 레이아웃 설정 */
.layout-content {
    padding: 0 32px;
    box-sizing: border-box;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
}