.header {
    height: 64px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F8;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.logo:visited {
    color: #583218;
}

.logo:hover {
    color: #583218;
    text-decoration: none;
}

.logo:active {
    color: #583218;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    padding-right: 5px;
}

