body,
html,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

/* 공통 레이아웃 설정 */
.layout-content {
    background: none;
    padding: 0 100px;
    box-sizing: border-box;
}

.main-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 5px;
}